# =========================
# Environment files
# =========================
.env
.env.*
*.env

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/
venv/
env/
.venv/

# =========================
# Mac OS
# =========================
.DS_Store

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/